---
import Layout from "../layouts/Layout.astro";
import '../styles/global.css';
const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/posts/healthcare-tech-primer/">Healthcare Tech: A Primer</a></li>
    </ul>
</Layout>
