---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Kevin Guo";
---
<Layout pageTitle={pageTitle}>
  <h2>About Me</h2>
  <p>
    Thanks for taking the time to visit this page. There's a small repository of my thoughts blog-style, which you may enjoy. I've had a lot of iterations of a personal webpage, but after years of trying to kept on top of maintenance, this site is now kept intentionally minimal.
  </p>
  <p>
    I currently serve as the Head of Engineering at <a href="https://1585healthcare.com/">1585 Healthcare</a>, where I lead a small team of developers to execute on our fund's mission to help facilitate the delivery of quality healthcare in the US.
  </p>
  <p>
    I'm currently based out of New York City, where I've lived for over a decade.
  </p>
  <p>
    Job seekers or recruiters please feel free to reach out via LinkedIn. Serious inquiries only.
  </p>

</Layout>